<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>138508252713-qjt9ee8569vnhm6igh3ppitlmpfd1uor.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.138508252713-qjt9ee8569vnhm6igh3ppitlmpfd1uor</string>
	<key>API_KEY</key>
	<string>AIzaSyA00keAk_xAMOyUlIRHssMBFxZ50chCtzg</string>
	<key>GCM_SENDER_ID</key>
	<string>138508252713</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jaycoding.toad</string>
	<key>PROJECT_ID</key>
	<string>toad-43336</string>
	<key>STORAGE_BUCKET</key>
	<string>toad-43336.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:138508252713:ios:5a43aa857b4980070dce38</string>
</dict>
</plist>